* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #00334e;
}

.main-header {
  text-align: center;
  margin: 20px auto;
  font-family: 'Livvic', sans-serif;
  font-family: 'Libre Baskerville', serif;
  border-bottom: 1px solid #145374;
  width: 200px;
  padding-bottom: 10px;
}

.add-interest-btn {
  height: 60px;
  width: 200px;
  font-size: 1.35em;
  font-family: 'Roboto', sans-serif;
}

#add-interest-form-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 80px;
}

#form-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: whitesmoke;
  padding: 30px;
  position: fixed;
  border: 1px solid gray;
  height: 250px;
  width: 300px;
}
input {
  margin: 5px 5px 5px 0;
}

button {
  border-radius: 3px;
  padding: 5px;
  margin: 5px 5px 5px 0;
  box-shadow: none;
  border-image: none;
  -webkit-appearance: none;
  border: .5px solid #00334e;
  background-color: #145374;
  color: #e8e8e8;
}

#place-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  background-color: #5588a3;
  padding: 20px;
}

.place-div {
  width: 31%;
  padding: 10px;
  min-width: 230px;
  background-color: #e8e8e8;
  border-radius: 5px;
}

.place-name-header {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

.interest-cards-container {
  overflow-y: auto;
  height: 25em;
}

.interest-card {
  margin: 10px 0;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.interest-card-name {
  font-family: 'Libre Baskerville', serif;
}

.interest-card-text {
  margin: 5px 0 0 0;
  font-size: .95em;
}

.admission-span {
  font-weight: bold;
}

.review-stars-select {
  display: block;
}

.interest-rating {
  font-size: 1.5em;
}

footer {
  text-align: end;
  margin: 10px;
}

.icon-container {
  display: flex;
  margin: 0 auto;
  font-size: 2em;
}

.icon-container__icon {
  margin: 0 5px 0 5px;
}